type engpc, domain;
type engpc_exec, exec_type, file_type;
init_daemon_domain(engpc);

set_prop(engpc, radio_prop);
set_prop(engpc, ctl_rildaemon_prop);

allow engpc gadget_serial_device:chr_file { open read write ioctl };
allow engpc serial_device:chr_file { open read write ioctl };
allow engpc radio_device:chr_file { open read write ioctl };
allow engpc devpts:chr_file { setattr getattr };
allow engpc prod_file:dir { open search };
allow engpc prod_file:file { open read write getattr setattr lock };
allow engpc media_data_file:file { create open read write getattr setattr };
allow engpc media_data_file:dir { search open read write add_name };
allow engpc init:unix_stream_socket connectto;
allow engpc property_socket:sock_file write;
allow engpc shell_exec:file { open read execute execute_no_trans };
allow engpc self:netlink_kobject_uevent_socket { create setopt bind read write };
