allow fsck self:capability { dac_read_search dac_override };
allow fsck efs_block_device:blk_file { open read write getattr setattr ioctl };
allow fsck prod_block_device:blk_file { open read write getattr setattr ioctl };
