allow init unlabeled:filesystem getattr;
allow init socket_device:sock_file { write create unlink setattr };
allow init rild:unix_stream_socket { connectto };
allow init block_device:blk_file { setattr getattr };
allow init block_device:dir { write add_name };
allow init block_device:lnk_file { create setattr getattr };
allow init self:capability { fowner chown fsetid };
allow init kmem_device:chr_file setattr;
allow init self:netlink_route_socket { setopt nlmsg_write read bind create nlmsg_read write getattr };
allow init sysfs:lnk_file setattr;
allow init tmpfs:lnk_file create;
allow init wpa_socket:unix_dgram_socket { bind create };
allow init media_device:fifo_file create;
allow init radio_device:fifo_file create;

allow init blkid_exec:file getattr;
allow init clatd_exec:file getattr;
allow init dex2oat_exec:file getattr;
allow init dnsmasq_exec:file getattr;
allow init hostapd_exec:file getattr;
allow init ppp_exec:file getattr;
allow init runas_exec:file getattr;
allow init sdcardd_exec:file getattr;
allow init sgdisk_exec:file getattr;
allow init userinit_exec:file getattr;

# LD_SHIM_LIBS
allow init gpsd:process noatsecure;
allow init mediaserver:process noatsecure;
allow init rild:process noatsecure;
