set_prop(rild, ctl_rildaemon_prop);
set_prop(rild, ctl_engpc_prop);
set_prop(rild, system_prop);

allow rild radio_block_device:blk_file { open read write };
allow rild radio_data_file:dir { write remove_name add_name };
allow rild radio_data_file:file { open read write getattr setattr create unlink };

allow rild devpts:chr_file { open read write ioctl setattr getattr };
allow rild device:dir { write add_name };
allow rild device:lnk_file create;
allow rild ptmx_device:chr_file { open read write ioctl };
allow rild rtc_device:chr_file { open read write ioctl };

allow rild sysfs_restart_cpc:file { open read write };
allow rild sysfs_dynamic_pclk:file { open read write };

allow rild proc_cpw:dir { open search };
allow rild proc_cpw:file { read write open ioctl };
allow rild proc_cpt:dir { open search };
allow rild proc_cpt:file { read write open ioctl };

allow rild storage_file:dir { search open };
allow rild storage_file:file { open read write setattr getattr};

allow rild engpc:unix_stream_socket connectto;

allow rild rild_exec:file entrypoint;
allow rild self:capability { fsetid fowner chown };
