allow zygote cpuctl_device:dir search;
#allow zygote device:chr_file { open read write getattr ioctl };
#allow zygote media_app:binder { call transfer };
#allow zygote media_app:fd use;
allow zygote mediaserver:binder { call transfer };
allow zygote platform_app_data_file:dir search;
allow zygote platform_app_data_file:file { open read getattr append };
allow zygote proc:file { write append };
allow zygote property_socket:sock_file write;
allow zygote self:capability sys_boot;
allow zygote servicemanager:binder transfer;
allow zygote surfaceflinger:binder { call transfer };
allow zygote surfaceflinger:fd use;
allow zygote surfaceflinger:unix_stream_socket { read write };
allow zygote system_data_file:dir { create setattr };
allow zygote system_prop:property_service set;
#allow zygote system:unix_stream_socket { read write };
allow zygote kernel:system module_request;
