# Wi-Fi init file

    #Create directory for hostapd
    mkdir /data/hostapd 0770 system wifi

on post-fs-data
    # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/misc/wifi 0770 wifi system
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/wifi/sockets 0770 wifi wifi

    # for WIFI TRP/TIS
    chown system root /data/.psm.info
    chmod 0664 /data/.psm.info

    # for WIFI Antenna Selection
    chown system root /data/.ant.info
    chmod 0664 /data/.ant.info

    # for WIFI Version
    write /data/.wifiver.info 0
    chown system wifi /data/.wifiver.info
    chmod 0664 /data/.wifiver.info

    # for WIFI Cert
    chmod 0664 /data/.bustxglom.info
    chmod 0664 /data/.roamoff.info
    chmod 0664 /data/.frameburst.info
    chmod 0664 /data/.txbf.info
    # for WIFI MAC address
    mkdir /efs/wifi 0775 radio system
    chown system wifi /efs/wifi/.mac.info
    chmod 0660 /efs/wifi/.mac.info

on boot
    setprop wifi.interface wlan0

on property:init.svc.macloader=stopped
    chown system root /data/.cid.info
    chmod 0664 /data/.cid.info
    chown system root /data/.rev
    chmod 0664 /data/.rev
# end of WiFi MFG (TestMode)
