
import /init.storage.rc

# add for board-relative touch screen driver for
# alarm mode and normal mode.

on boot
    chmod 660 /dev/ttyS0
    chmod 660 /proc/bluetooth/sleep/proto
    chmod 660 /sys/class/rfkill/rfkill0/state
    chmod 660 /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth system /proc/bluetooth/sleep/proto
    write /proc/sys/kernel/hook_power_enable 0

    mkdir /data/system 0770 system system
    chmod 660 /dev/ttyV0

	write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 100000

service hfag /system/bin/sdptool add --channel=10 HFAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hsag /system/bin/sdptool add --channel=11 HSAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service opush /system/bin/sdptool add --channel=12 OPUSH
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

#service hciattach /system/bin/hciattach -n /dev/sttybt0 sprd_shark
#    socket bluetooth stream 660 bluetooth bluetooth
#    user bluetooth
#    group wifi bluetooth net_bt_admin net_bt inet net_raw net_admin system
#    disabled
#    oneshot

service btld  /system/bin/btld -lpm 0 -hb 3000000
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
   disabled
   oneshot


service iprenew_bt-pan /system/bin/dhcpcd -n
    disabled
    oneshot

service engpcclientw /system/bin/engpc -t 0 -a /dev/ttyGS0 -d /dev/ttyGS1
    class core
    user system
    group system radio shell
    disabled
    oneshot

#wcdma rild service
service ril-daemon /system/bin/rild -l /system/lib/libreference-ril_sp.so -m w -n 0
    class core
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log shell sdcard_r

service ril-daemon2 /system/bin/rild -l /system/lib/libreference-ril_sp.so -m w -n 1
    class core
    socket rild1 stream 660 root radio
    socket rild-debug1 stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log shell sdcard_r

service ril-daemon3 /system/bin/rild -l /system/lib/libreference-ril_sp.so -m w -n 2
    class core
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log shell sdcard_r

# set LMK watermark as {14M,20M,24M,32M,38M,48M}
on property:lmk.autocalc=false
    write /sys/module/lowmemorykiller/parameters/adj 0,1,3,5,9,15
    write /sys/module/lowmemorykiller/parameters/minfree 3584,5120,6144,8192,9728,12288
