on boot
    mkdir /data/system/gps 0771 system system

    chown system system /dev/ttyS2
    chmod 0660 /dev/ttyS2

    chown system system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value

service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet net_raw
    ioprio be 0
    setenv LD_SHIM_LIBS /system/bin/gpsd|libgps_shim.so
