# WCDMA rild service
service sprd-ril-daemon /system/bin/rild_sprd -l /system/lib/libreference-ril_sp.so -m w -n 0
    class core
    socket rild stream 660 root radio
    socket sap_uim_socket stream 660 bluetooth bluetooth
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw log shell
    setenv LD_SHIM_LIBS /system/lib/libril.so|libril_shim.so

service sprd-ril-daemon2 /system/bin/rild_sprd -l /system/lib/libreference-ril_sp.so -m w -n 1
    class core
    socket rild2 stream 660 root radio
    socket sap_uim_socket2 stream 660 bluetooth bluetooth
    socket rild-debug2 stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw log shell
    setenv LD_SHIM_LIBS /system/lib/libril.so|libril_shim.so

service sprd-ril-daemon3 /system/bin/rild_sprd -l /system/lib/libreference-ril_sp.so -m w -n 2
    class core
    socket rild3 stream 660 root radio
    socket sap_uim_socket3 stream 660 bluetooth bluetooth
    socket rild-debug3 stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw log shell
    setenv LD_SHIM_LIBS /system/lib/libril.so|libril_shim.so

